language: node_js
node_js:
  - "7"
before_script:
  - yarn install
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - npm run test
  - npm run build
deploy:
 provider: pages
 skip_cleanup: true
 local_dir: build
 github_token: $GITHUB_TOKEN
 on:
  branch: workshopb
