.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('http://placehold.it/1900x1080');
}

.portfolio-item {
  margin-bottom: 30px;
}

.personalName {
  font-size: 65px !important;
}

.navbar {
  min-height: 100px !important;
}

.bg-dark {
  background-color: #000 !important;
}

a {
  color: #000;
}

.icons {
  margin-right: 20px;
}

.card-footer {
  text-align: center;
}

.card-header {
  background-color: none !important;
}
